<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-button>
    <ion-title>
      Partitions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-button (click)="openSheet">Ouvrir Partition</ion-button>
    <h3 style="margin-left: 10px;">Importer une partition</h3>
    <ion-input type="file" (change)="uploadSheet($event)" value="Importer partition"></ion-input>  
    <!--
    <ion-button (click)="openSheet2()">Ouvrir Partition</ion-button>
    <ion-button (click)="importSheet()">Importer Partition</ion-button>
    -->
  </ion-card>
</ion-content>

