<ion-header>
  <ion-toolbar>
    <ion-button slot="start" style="margin-left: 10px;">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-button>
    <ion-title>
      Instruments
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
    <h3>Ici seront géré les instruments !</h3>
    <ion-list>
      <ion-item >
        <ion-icon src="../../../www/img/guitar.svg" slot="start"></ion-icon>
        Guitare
      </ion-item>
      <ion-item>
        Piano
      </ion-item>
      <ion-item>
        Batterie
      </ion-item>
    </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>
