<ion-header>
  <ion-toolbar>
    <ion-button slot="start" style="margin-left: 10px;">
      <ion-back-button defaultHref="/instruments"></ion-back-button>
    </ion-button>
    <ion-title>
      Instruments - Guitare
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="guitare-card">
  
  </ion-card>

  <ion-card>
    <ion-card-content>

    <ion-list>

      <ion-item href="https://www.tabs4acoustic.com/cours-guitare/theorie.html">
        Cours Théoriques
      </ion-item>

      <ion-item href="https://www.tabs4acoustic.com/cours-guitare/technique.html">
        Cours Techniques
      </ion-item>
 
      <ion-item href="https://www.tabs4acoustic.com/cours-guitare/debutant.html">
        Cours Débutant
      </ion-item>

      <ion-item href="https://www.tabs4acoustic.com/cours-guitare/en-video.html">
        Cours vidéo
      </ion-item>

    </ion-list>

    </ion-card-content>
  </ion-card>

</ion-content>
