<ion-header>
  <ion-toolbar>
    <ion-button slot="start" style="margin-left: 10px;">
      <ion-back-button defaultHref="/instruments"></ion-back-button>
    </ion-button>
    <ion-title>
      Instruments - Piano
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="piano-card">
  
  </ion-card>

  <ion-card>
    <ion-card-content>

    <ion-list>

      <ion-item href="https://www.pianofacile.com/leçons/">
        Cours Théoriques / Techniques
      </ion-item>

      <ion-item href="https://www.youtube.com/watch?v=gpQzQPuxi28">
        Cours vidéo
      </ion-item>

    </ion-list>

    </ion-card-content>
  </ion-card>

</ion-content>
