ion-content {
  //--background: url('../../../www/img/music_colour_splash_original.jpg') no-repeat center/cover;

}

ion-toolbar {
  --background: url('../../../www/img/musicworkshop-image.jpg') no-repeat fixed center; 
  opacity:0.5;
}

.welcome-card {
  max-height: 35vh;
  --background: url('../../../www/img/music_colour_splash_original.jpg') no-repeat center/cover fixed;
  //overflow: hidden;
  //background-image: url('/www/img/musicmaster.png');
  // background: url('../../img/getstart.png');
}