<p>
  C'est la page du solfèèèèèèèèège
</p>
<table>
  <tr>
    <td> 1 </td>
    <td> Les notes </td>
    <td> <button class="favorite styled" type="button" onclick="window.location.href = 'https://w3docs.com';"> Voir </button> </td>
    <td> <div> <input type="checkbox" id="cours1" name="cours1" checked> <label for="cours1"> Fait </label> </div> </td>
  </tr>
  <tr>
    <td> 2 </td>
    <td> Les différentes clés de partitions </td>
    <td> <button class="favorite styled" type="button" onclick="window.location.href = 'https://w3docs.com';"> Voir </button> </td>
    <td> <div> <input type="checkbox" id="cours2" name="cours2" checked> <label for="cours2"> Fait </label> </div> </td>
  </tr>
  <tr>
    <td> 3 </td>
    <td> Lire une partition </td>
    <td> <button class="favorite styled" type="button" onclick="window.location.href = 'https://w3docs.com';"> Voir </button> </td>
    <td> <div> <input type="checkbox" id="cours3" name="cours3" checked> <label for="cours3"> Fait </label> </div> </td>
  </tr>
</table>
