<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-button>
    <ion-title>
      Solfège
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table align=center *ngFor="let tutorial of tutorials | async ">
    <tr align=center valign="center">
      <td> {{tutorial.name}} </td>
      <td> <ion-button>  <a href="{{tutorial.link}}">Voir</a> </ion-button> </td>
      <td> <ion-checkbox checked="{{tutorial.done}}" [(ngModel)]="tutorial.done" (ionChange)="isDone(tutorial)"> </ion-checkbox> </td>
    </tr>
  </table>

</ion-content>
