<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-button>
    <ion-title>
      Solfège
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    Les bases
  </ion-list-header>
  <ion-list *ngFor="let tutorial of tutorials | async">
    <ion-item [ngClass]="{ 'use-green-background': tutorial.done }">
      <ion-label>{{tutorial.name}}</ion-label>
      <ion-toggle checked="tutorial.done" [(ngModel)]="tutorial.done" (ionChange)="isDone(tutorial)"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
