<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-button>
    <ion-title>
      Solfège
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Les bases
    </ion-list-header>
    <ion-item *ngFor="let cours of startingCourses" (click)="itemSelected(cours)">
      {{ cours.name }}
    </ion-item>
    <ion-list-header>
      Cours avancés
    </ion-list-header>
    <button ion-item *ngFor="let cours of advancedCourses" (click)="itemSelected(cours)">
      {{ cours.name }}
    </button>
    <ion-list-header>
      Cours experts
    </ion-list-header>
    <button ion-item *ngFor="let cours of expertCourses" (click)="itemSelected(cours)">
      {{ cours.name }}
    </button>
  </ion-list>
</ion-content>
