<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-button>
    <ion-title>
      Succès / Progression
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>
  succesprogression works!
</p>
<table>
  <tr>
    <td> <a routerLink="/succes"> <button ion-button type="button"> Succès </button> </a> </td>
    <td> <a routerLink="/progression"> <button ion-button type="button"> Progression </button> </a> </td>
  </tr>
  <tr>
    <router-outlet></router-outlet>
  </tr>
</table>
</ion-content>