ion-content {
  //--ion--background: url('../../../www/assets/wallpaper_music.jpeg') no-repeat center/cover;
  --ion-background-color:#111D12;
  --ion-background-hover-color:white;
  
}

ion-toolbar {
  //--background: url('../../../www/img/musicworkshop-image.jpg') no-repeat center/cover; 
}


.welcome-card {
  height: 30vh;
  //background-image: url('../../../www/img/music_colour_splash_original.jpg');
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-size: auto;
  --background: url('../../../www/img/ob_3a1671_pmaa-1.jpg') no-repeat center/cover fixed; 
}
.welcome-card ion-card-title {
  background-color: white;
  text-align: center;
}


.menu-item {
  --ion-background-color: white;
  background-color: white;
}
.menu-item:hover {
  background-color: darkseagreen;
}

.exit_button {
 padding-left: 20px !important;
}


@media screen and (max-width: 1024px) { /* Le traitement est ici spécifique à l'image */
  .welcome-card {
    height: 30vh;
    //--background: url('../../../www/img/music_colour_splash_original.jpg') no-repeat center/cover fixed; 
    background-image: url('../../../www/img/ob_3a1671_pmaa-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }
}
