ion-content {
  //--ion--background: url('../../../www/assets/wallpaper_music.jpeg') no-repeat center/cover;
  --ion-background-color:#111D12;
  --ion-background-hover-color:white;
  
}

ion-toolbar {
  //--background: url('../../../www/img/musicworkshop-image.jpg') no-repeat center/cover; 
}


.welcome-card {
  height: 30vh;
  background-image: url('../../../www/img/music_colour_splash_original.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome-card ion-card-title {
  background-color: white;
  text-align: center;
}


.menu-item {
  --ion-background-color: white;
  background-color: white;
}
.menu-item:hover {
  background-color: darkseagreen;
}

.exit_button {
 padding-left: 20px !important;
}