<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-button>
    <ion-title>
      Sign-up to MusicMaster
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="sign-card">
  <h3>Create your account</h3>
  <form #formData="ngForm" (ngSubmit)="createAccount(formData)">
    <input [(ngModel)]="email" #email_address="ngModel" type="text" id="email" name="email" placeholder="email" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required/>
    <div *ngIf="email_address.invalid">
      <div *ngIf="email_address.errors.required">
        This field is required
      </div>
    </div>
    <br/>
    <input [(ngModel)]="password" type="password" #pw="ngModel" name="password" placeholder="password" minlength="8" required/>
    <div *ngIf="pw.invalid">
      <div *ngIf="pw.errors.required">
        This field is required
      </div>
    </div>
    <br/>
    <input [(ngModel)]="retyped_password" name="retyped_password" #retyped_pw="ngModel" type="password"  placeholder="retyped password" minlength="8" required/>
    <div *ngIf="retyped_pw.invalid">
      <div *ngIf="retyped_pw.errors.required">
        This field is required
      </div>
      <div *ngIf="retyped_pw.errors.notTheSame">
        {{retyped_pw.errors.notTheSame.message}}
      </div>
    </div>
    <br/>
    <ion-button type="submit">
      <ion-icon slot="start" name="log-in"></ion-icon>
      Login
    </ion-button>
  </form>

</ion-card>

</ion-content>