<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Lancer MusicMasters</ion-label>
      <ion-checkbox [(ngModel)]="succes1"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Créer son compte MusicMasters</ion-label>
      <ion-checkbox [(ngModel)]="succes2"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Créer son premier évènement </ion-label>
      <ion-checkbox [(ngModel)]="succes3"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Consulter un cours de Solfège</ion-label>
      <ion-checkbox [(ngModel)]="succes4"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Upload une partition</ion-label>
      <ion-checkbox [(ngModel)]="succes5"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Enregistrer son niveau sur un instrument</ion-label>
      <ion-checkbox [(ngModel)]="succes6"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Laisser un pouce bleu à l'appli</ion-label>
      <ion-checkbox [(ngModel)]="succes7"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
