ion-content {
    //--background: url('../../../www/img/music_colour_splash_original.jpg') no-repeat center/cover;
    --ion-background-color:#111D12;
    //--ion-background-color: white;
    //--ion-background-hover-color:white;
    
  }

ion-toolbar {
    --background: url('../../../www/img/musicworkshop-image.jpg') no-repeat center;
}
  
  
.welcome-card {
height: 40vh;
--background: url('../../../www/img/music_colour_splash_original\ \(copie\).jpg') no-repeat center/contain fixed;
text-align: center;
}

.login-card {
    background-color: white;
    --ion-background-hover-color:white;
}
